@import 'styles/Variables';

.footer {
  position: relative;
  background-color: rgb(34, 34, 34);
  padding: 0;
  margin-top: 4rem;
  color: var(--color-white);

  a {
    color: var(--color-white);
    text-decoration: underline;

    &:hover,
    &:focus {
      color: var(--color-white);
    }
  }

  .bottom {
    background-color: rgb(0, 0, 0);
    padding: 1rem 0;
  }
  .top {
    padding: 3rem 0;
    .contact-wrap {
      display: flex;
      justify-content: space-between;
      // align-items: center;
      flex-direction: column;
      grid-row-gap: 25px;

      @media (min-width: $breakpoint-small) {
        flex-direction: row;
        align-items: center;
        grid-row-gap: 0;
      }

      .social-share {
        svg rect {
          fill: #999;
          transition: all .3s;
        }
        svg path {
          fill: rgb(34, 34, 34);
          transition: all .3s;
        }
        svg {
          border-radius: 5px;
          transition: all .3s;
        }

        svg:hover {
          rect {
            fill: rgb(34, 34, 34);
          }
          path {
            fill: #999;
          }
        }
      }

      .social-share {
        display: flex;
        grid-template-columns: repeat(4,1fr);
        grid-column-gap: 1rem;
        button {
          margin: 0;
          display: flex;
        }
      }

      .contact {
        display: flex;
        flex-direction: column;

        h4 {
          color: rgb(153, 153, 153);
          font-family: "Source Sans Pro", sans-serif;
          font-weight: 700;
          margin: 0 0 .5rem 0;
          font-size: 1.8rem;
          text-transform: uppercase;
          line-height: 1.7;
          letter-spacing: 0.5px;
        }

        a {
          text-decoration: none;
          font-size: 1.6rem;
          &:hover {
            color: rgb(153, 153, 153);
          }
        }

      }

    }
  }

  .logo {
    width: 200px;
    height: auto;
  }
}

.social-links {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;

  ul {
    display: inline-flex;
    list-style: none;
    margin-bottom: 0;
  }

  li {
    margin: 0;
    margin-right: 1.5rem;

    &:last-child {
      margin-right: 0;
    }
  }

  .social-icon-link {
    display: flex;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    border: 1px solid var(--color-white);
    border-radius: 99rem;
    vertical-align: middle;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    background-color: transparent;
    transition: background-color 0.1s ease-in-out;

    .social-icon {
      color: var(--color-white);
      vertical-align: middle;
      transition: color 0.1s ease-in-out;
    }

    &:hover,
    &:focus {
      color: var(--color-primary);
      background-color: var(--color-white);

      .social-icon {
        color: var(--color-primary);
      }
    }
  }
}

.nav {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  margin-right: auto;
  font-size: 1.8rem;

  ul {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;

    @media (min-width: $breakpoint-small) {
      flex-direction: row;
    }
  }

  li {
    margin: 0;
    margin-bottom: 1rem;

    @media (min-width: $breakpoint-small) {
      margin-right: 3rem;
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
      margin-right: 0;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.copyright {
  font-size: 1.5rem;
  color: rgb(153, 153, 153);
}
